body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
table {
	width: 100%;
	background: #f2f2f2;
}

td, th {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	font-weight: bold;
}

tr:hover {
	background: #f8f8F8;
}

input {
	background: #fff;
	padding: 15px;
	border: none;
	width: calc(100% - 20px);
}

input:focus, button:focus {
	outline: none;
}

button.remove {
	background: red;
	color: #fff;
	border-radius: 4px;
	padding: 15px 25px;
	border:none;
}

div.actions button {
	background: #999;
	color: #fff;
	border-radius: 4px;
	padding: 15px 25px;
	border:none;
	margin: 10px;
}
button:hover {
	cursor: pointer;
}
div.actions button:hover {
	background: #333;
}
